@font-face {
  font-family: "Urbanist";
  src: url(./assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green70: #CBEA7B;
  --green85: #E5F5BD;
  --green95: #F6FBE9;
  --green99: #FAFDF2;
  --darkgreen15: #1A3129;
  --darkgreen20: #234338;
  --darkgreen30: ##346454;
  --grey30: #4C4C4D;
  --grey60: #98989A;
  --fs-5-8: clamp(4.2rem, 3.79rem + 1.05vw, 5.8rem);
  --fs-5: clamp(2.4rem, 1.74rem + 1.70vw, 5rem);
  --fs-3-4: clamp(1.8rem, 1.39rem + 1.05vw, 3.4rem);
  --fs-1-8: cclamp(1.4rem, 1.30rem + 0.26vw, 1.8rem);

}

html {
  font-size: 62.5%;
  font-family: "Urbanist", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  line-height: 150%;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 700;
  font-size: var(--fs-5-8)
  /* -size 4.2rem for mobile */
  /* - line height for mobile 120% */

}

h2 {
  font-weight: 700;
  font-size: var(--fs-5)
  /* -size 2.4rem for tablet and mobile */
}

h3 {
  font-weight: 600;
  font-size: var(--fs-3-4);
  /* -size 2.8rem for tablet */
  /* -size 1.8 for mobile */
}

p {
  font-weight: 500;
  font-size: var(--fs-1-8);
  /* -size 1.6rem for tablet */
  /* -size 1.4rem for mobile */
}

button {
  font-weight: 600;
  font-size: var(--fs-1-8);
  /* -size 1.6rem for tablet */
  /* -size 1.4rem for mobile */
}

label {
  font-weight: 600;
  font-size: var(--fs-1-8);
  /* -size 1.6rem for tablet */
  /* -size 1.4rem for mobile */
}
