@font-face {
  font-family: "Urbanist";
  src: url(./assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green70: #cbea7b;
  --green85: #e5f5bd;
  --green95: #f6fbe9;
  --green99: #fafdf2;
  --darkgreen15: #1a3129;
  --darkgreen20: #234338;
  --darkgreen30: #346454;
  --grey30: #4c4c4d;
  --grey60: #98989a;
  --fs-5-8: clamp(4.2rem, 3.7vw, 5.8rem);
  --fs-5: clamp(2.4rem, 2.5vw, 5rem);
  --fs-3-4: clamp(1.8rem, 1.6vw, 3.4rem);
  --fs-2-6: clamp(1.4rem, 1.6vw, 2.6rem);
  --fs-1-8: clamp(1.4rem, 1.6rem, 1.8rem);
}

html {
  font-size: 62.5%;
  font-family: "Urbanist", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  background-color: var(--green99);
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 600;
  font-size: var(--fs-5-8);
  line-height: 5rem;
  color: var(--darkgreen15);
  /* -size 4.2rem for mobile */
  /* - line height for mobile 120% */
}

h2 {
  font-weight: 600;
  font-size: var(--fs-5);
  color: var(--darkgreen15);
  margin-bottom: 1rem;
  text-align: center;
  /* -size 2.4rem for tablet and mobile */
}

h3 {
  font-weight: 500;
  font-size: var(--fs-3-4);
  color: var(--darkgreen15);
  /* -size 2.8rem for tablet */
  /* -size 1.8 for mobile */
}

p {
  font-weight: 300;
  font-size: var(--fs-1-8);
  line-height: 2rem;
  color: var(--grey30);
  /* -size 1.6rem for tablet */
  /* -size 1.4rem for mobile */
}

p.subline {
  margin-bottom: 8rem;
  max-width: 100rem;
  text-align: center;
  color: var(--grey30);
}

button {
  font-weight: 400;
  font-size: var(--fs-1-8);
  line-height: 2rem;
  cursor: pointer;
  /* -size 1.6rem for tablet */
  /* -size 1.4rem for mobile */
}

label {
  font-weight: 500;
  font-size: var(--fs-1-8);
  color: var(--darkgreen15);
  line-height: 2rem;
  /* -size 1.6rem for tablet */
  /* -size 1.4rem for mobile */
}

.small-headline {
  font-weight: 400;
  font-size: var(--fs-1-8);
  line-height: 2rem;
  /* -size 1.6rem for tablet */
  /* -size 1.4rem for mobile */
}

a {
  text-decoration: none;
  color: white;
  font-size: var(--fs-1-8);
  font-weight: 400;
}

.green70 {
  background-color: var(--green70);
  border-radius: 0.8rem;
  border: none;
  padding: 1.4rem 2.4rem;
}

.green95 {
  background-color: var(--green95);
  border: 1px solid var(--green70);
  border-radius: 0.8rem;
  padding: 1.4rem 2.4rem;
}

/* - Nav */
nav {
  background-color: var(--darkgreen15);
}

.nav-upper-wrapper {
  padding: 1.5rem 16rem;
}

nav section .nav-upper {
  background-color: var(--darkgreen20);
  border: solid 1px #2c5446;
  border-radius: 0.8rem;
  color: white;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  position: relative;
  overflow: hidden
}

nav section .nav-upper .vector-1 {
  position: absolute;
  height: 14rem;
  right: 3rem;

}

nav section .nav-upper .vector-2 {
  position: absolute;
  height: 14rem;
  left: 3rem;
}

nav section .nav-upper h3 {
  font-weight: 400;
  color: white;
  font-size: var(--fs-2-6);
}

nav section .nav-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 16rem;
  border-top: 1px solid var(--darkgreen20);
}

nav section .nav-lower .burger {
  display: none;
}

.nav-lower img {
  height: 4.5rem;
}

.navi a {
  margin-right: 2rem;
}

@media screen and (max-width: 1440px) {
  .nav-upper-wrapper {
    padding: 1.5rem 8rem;
  }

  .nav-upper img {
    height: 2rem;
  }

  nav section .nav-lower {
    padding: 2rem 8rem;
  }

  .nav-lower img {
    height: 3.4rem;
  }


nav section .nav-upper .vector-1 {
  position: absolute;
  height: 7rem;
  right: 0.1rem;

}

nav section .nav-upper .vector-2 {
  position: absolute;
  height: 7rem;
  left: 0.1rem;
}
}

@media screen and (max-width: 390px) {
  .nav-upper-wrapper {
    padding: 4rem 1rem 1rem 1rem;
  }

  nav section .nav-upper {
    padding: 1rem 1.5rem;
  }

  nav section .nav-lower {
    padding: 2rem 1.5rem;
  }

  nav section .nav-lower .navi{
    display: none;
  }

  nav section .nav-lower .burger{
    display: block;
  }
  nav section .nav-upper .vector-1 {
    display: none;
  
  }
  
  nav section .nav-upper .vector-2 {
    display: none;
  }
  


}
  


/* - Header */
header {
  display: flex;
  /* align-items: center; */
  gap: 4%;
  margin-bottom: 13rem;
}

header .header-img {
  width: 47vw;
}

header article {
  padding-right: 16rem;
  width: 47vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header article h3 {
  text-decoration: underline var(--green70);
  text-underline-offset: 2rem;
  margin-bottom: 3.4rem;
}

header article h1 {
  margin-bottom: 2rem;
}

header article p {
  margin-bottom: 3rem;
}

.hero-buttons button {
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.happy-customer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.happy-customer .img {
  height: 6.6rem;
}

@media screen and (max-width: 1440px) {
  header article h3 {
    text-underline-offset: 1.5rem;
    margin-bottom: 2rem;
  }

  header article h1 {
    margin-bottom: 1.6rem;
  }

  header article p {
    margin-bottom: 2.5rem;
  }

  .hero-buttons button {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 390px) {
  header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 4%;
    margin-bottom: 6rem;
  }

  header .header-img {
    width: 100vw;
  }

  header article {
    padding: 10rem 1.5rem 1rem 1.5rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
  }

  .happy-customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;
    position: absolute;
    top: -25px;
    
  }
}

/* - Main */

.wrapper {
  padding: 0 16rem;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    padding: 0 8rem;
  }
}

@media screen and (max-width: 390px) {
  .wrapper {
    padding: 0 1.5rem;
  }
}
/* - Features */

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  margin-bottom: 17.4rem;
}

.features-display .feature-card {
  background-color: var(--green95);
  border-radius: 1.2rem;
  border: .1rem solid var(--green85);
  padding: 4rem 5rem;
}

.features-display .feature-card .feature-header {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.feature-header .feature-icon {
  height: 6.8rem;
  width: 6.8rem;
  background-color: var(--green70);
  border-radius: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.2rem;
}

.feature-header .feature-icon img {
  max-height: 3.5rem;
  max-width: 3.5rem;
}


.features-display .feature-card p {
  margin-bottom: 0rem;
}


@media screen and (max-width: 1440px) {
  .features-display {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-bottom: 8rem;
  }

  .features-display .feature-card {
    padding: 4rem;
  }

  .features-display .feature-card .feature-header {
    margin-bottom: 2rem;
  }

  .feature-header .feature-icon {
    height: 5.4rem;
    width: 5.4rem;
  }

  .feature-header .feature-icon img {
    max-height: 2.8rem;
    max-width: 2.8rem;
  }
}

@media screen and (max-width: 390px) {
  .features-display {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 5rem;
  }

  .features-display .feature-card {
    padding: 3rem;
  }

  .features-display .feature-card .feature-header {
    margin-bottom: 1.6rem;
  }

  .feature-header .feature-icon {
    height: 4.8em;
    width: 4.8rem;
  }

  .feature-header .feature-icon img {
    max-height: 2.2rem;
    max-width: 2.2em;
  }
}

/* - Our Blog */
.blogs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  margin-bottom: 17.4rem;
}

.blog-cards .card {
  background-color: var(--green95);
  border-radius: 1.2rem;
  border: .1rem solid var(--green85);
  padding: 4rem;
}

.blog-cards .card img.card-img {
  object-fit: contain;
  width: 100%;
  margin-bottom: 2rem;
}

.blog-cards .card .small-headline {
  margin-bottom: .6rem;
}

.blog-cards .card h3 {
  margin-bottom: 3rem;
}

.blog-cards .card p:nth-of-type(2) {
  margin-bottom: 3rem;
}

.card-info {
  background-color: var(--green99);
  border-radius: 1.2rem;
  border: 1px solid var(--green85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.6rem;
}

.card-info .card-left {
  display: flex;
  align-items: center;
}

.card-info .card-left img {
  margin-right: 1rem;
  height: 6rem;
}

.card .card-info .card-left p {
  margin-bottom: 0rem;
}

.card-info .card-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.card-info .card-right img{
  background-color: var(--green95);
  border-radius: 0.8rem;
  border: 1px solid var(--green85);
  padding: 1.8rem;
}

@media screen and (max-width: 1440px) {
  .blog-cards {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-bottom: 6rem;
  }

  .blog-cards .card {
    padding: 3rem;
  }

  .blog-cards .card h3 {
    margin-bottom: 2rem;
  }

  .blog-cards .card p:nth-of-type(2) {
    margin-bottom: 2rem;
  }

  .card-info {
    padding: 1.6rem;
  }

  .card-info .card-left img {
    height: 5rem;
  }

  .card-info .card-right img{
    padding: 1.4rem;
  }
}


@media screen and (max-width: 390px) {
  .blog-cards {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 12rem;
  }

  .blog-cards .card {
    padding: 2.4rem;
  }

  .blog-cards .card img.card-img {
    margin-bottom: 1rem;
  }

  .blog-cards .card .small-headline {
    margin-bottom: .2rem;
  }
  
  .blog-cards .card h3 {
    margin-bottom: 1.8rem;
  }

  .blog-cards .card p:nth-of-type(2) {
    margin-bottom: 1.8rem;
  }

  .card-info {
    display: flex;
    flex-direction:column;
    align-content: space-between;
  }

  .card-info .card-left {
    align-self: flex-start;
  }

  .card-info .card-right {
    align-self: flex-end;
  }

  .card-info .card-left img {
    height: 4rem;
  }

}

/* - Calories */
.calories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

.calories-function {
  background-color: var(--green95);
  border: solid 1px var(--green85);
  border-radius: 1.2rem;
  padding: 4rem 7rem 5.6rem 7rem;
}


.calories-upper div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.calories-lower div{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.calories-upper,
.calories-lower {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}

#activity {
  width: 100%;
  height: 5rem;
  border: 1px solid var(--green85);
  color: var(--grey60);
  padding-left: 1rem;
}

.label-input label {
  margin-bottom: 0.8rem;
}

.label-input input {
  font-size: var(--fs-1-8);
  border: solid 1px var(--green85);
  height: 5rem;
  border-radius: 1rem;
  color: var(--grey60);
  padding-left: 1rem;
}

.gender {
  display: flex;
  flex-direction: column;
  align-items:  center;
  margin-bottom: 4rem;
}

.gender p {
  margin-bottom: 2rem;
}

.gender label:first-of-type {
  margin-right: 5rem;
}

.gender input[type="radio"] {
  accent-color: var(--green70);
  border: 0.5px solid var(--grey60);

}

.gender input[type="radio"]:checked {
  accent-color: var(--green70);
  /* border: 0.2px solid rgb(149, 0, 255); */
  /* # how to change the color/appearance of the rb */
}

form .button-div {
  text-align: center;
  margin-bottom: 5rem;
}

.output-calories {
  background-color: white;
  border: solid 1px var(--green70);
  border-radius: 1rem;
  padding: 1rem 0;
  
  }


.output-calories div {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  padding: 1.5rem 3.7rem;
}

.output-calories .div-rechts {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.output-calories .kcal{
  padding-bottom: 2rem;
}

.output-calories .metabolic {
  border-top: solid 1px var(--green70);
  padding-top: 2rem;

  
}

@media screen and (max-width: 1440px) {
  .calories {
    margin-bottom: 9rem;
  }

  .calories-function {
    padding: 4rem 5.5rem 5.6rem 5.5rem;
  }

  .calories-upper,
  .calories-lower {
     gap: 2rem;
}


}

@media screen and (max-width: 390px) {
  .calories {
    margin-bottom: 5rem;
  }

  .calories-function {
    padding: 3rem 1.5rem 4rem 1.5rem;
  }

  .calories-upper,
  .calories-lower {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}

.output-calories div {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  padding: 1rem 1.2rem;
}

.output-calories .metabolic {
  margin-bottom: 2rem;
}

.output-calories p {
  font-size: 1.4rem;
}
.output-calories .div-rechts {
  width: 50%;
}
}


/* - Pricing */

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

.pricing .pricing-btn div{
  border: 1px solid var(--green70);
  border-radius: .8rem ;
  padding: 1rem;
  margin-bottom: 1.4rem;
}

.pricing .pricing-btn .darkgreen {
  background-color: var(--darkgreen30);
  border-radius: 0.8rem;
  color: white;
  border: none;
  padding: 1.4rem 2.4rem;
}

.pricing .pricing-btn .lightgreen {
  background-color: var(--green99);
  border-radius: 0.8rem;
  border: none;
  padding: 1.4rem 2.4rem;
}

.pricing .pricing-btn p {
  text-align: center;
  margin-bottom: 5rem;
}

.pricing .pricing-packages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.pricing .pricing-packages .price-card {
  background-color: var(--green95);
  border: 1px solid var(--green85);
  border-radius: 1.2rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

.pricing .pricing-packages .price-card h3 {
  color: var(--darkgreen30);
  margin-bottom: 0.2rem;
}

.pricing .pricing-packages .price-card p {
  margin-bottom: 4rem;
}


.pricing .pricing-packages .price-card span {
  color: var(--darkgreen30);
  font-size: var(--fs-3-4);
  font-weight: 600;
}

@media screen and (max-width: 1440px) {
  .pricing {
     margin-bottom: 5rem;
  }

  .pricing .pricing-btn p {
    margin-bottom: 4rem;
  }

  .pricing .pricing-packages {
     gap: 2rem;
  }

  .pricing .pricing-packages .price-card {
     padding: 4rem;
  }

  .pricing .pricing-packages .price-card p {
    margin-bottom: 3rem;
  }

}

@media screen and (max-width: 390px) {
  .pricing {
    margin-bottom: 8rem;
 }

 .pricing .pricing-btn p {
  margin-bottom: 3rem;
}

.pricing .pricing-packages {
  grid-template-columns: repeat(1, 1fr);
}

.pricing .pricing-packages .price-card {
  padding: 3rem;
}

.pricing .pricing-packages .price-card p {
  margin-bottom: 2.4rem;
}

}




/* - Footer */

footer {
  background-color: var(--darkgreen15);
  padding: 5rem 16rem;
}

footer .footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

footer .footer-nav img {
  height: 4.5rem;
}

footer .navi-2 {
  display: none;
}

footer .footer-nav .up-to {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .footer-nav .up-to p {
  font-size: var(--fs-1-8);
  color: white;
}

footer .footer-nav .up-to img {
  height: 6.2rem;
  border-radius: 3.1rem;
  background-color: var(--darkgreen20);
  padding: 1.4rem;
}


footer .footer-lower {
  background-color: var(--darkgreen20);
  border-radius: 0.8rem;
  border: 1px solid var(--darkgreen30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2rem;
}

footer .footer-lower .left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

footer .footer-lower .left div {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--darkgreen30);
  border-radius: 0.6rem;
  padding: 1.4rem;
}

footer .footer-lower p {
  color: white;
}


@media screen and (max-width: 1440px) {
  footer {
    padding: 4rem 8rem;
  }

  footer .footer-nav {
    margin-bottom: 4rem;
  }

  footer .footer-nav img {
    height: 3rem;
  }

  footer .footer-nav .up-to img {
    height: 4.8rem;
    border-radius: 2.4rem;
    padding: 1.2rem;
  }

  footer .footer-lower {
    padding: 1.4rem 1.6rem;
  }

  footer .footer-lower .left {
    gap: 1.6rem;
  }

  footer .footer-lower .left div {
    padding: 1.2rem;
  }


}

@media screen and (max-width: 390px) {
  footer {
    padding: 3rem 1.5rem;
  }

  footer .footer-nav {
    margin-bottom: 3rem;
    height: 3rem;
  }

  footer .footer-nav .navi {
    display: none;
  }

  footer .navi-2{
    display:flex;
    flex-wrap: wrap;
  }

  footer  .navi-2 a {
    margin-right: 2rem;
    margin-bottom: 3rem;
  }

  footer .footer-lower {
    padding: 2rem;
    flex-direction: column;
  }

  footer .footer-lower .left {
    flex-direction: column; 
    gap: 1rem;
    width: 100%;
  }
  
  footer .footer-lower .left div {
    /* flex-direction: column;  */
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
  }
  
  footer .footer-lower .left div:nth-of-type(3){
    margin-bottom: 2rem;
  }
}
